@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Styles for the unselected dot */
.dot {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  background-image: url('/images/dot-not-selected.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 5px; /* Adjust the spacing between dots */
  cursor: pointer; /* Add pointer cursor for interactivity */
}

/* Styles for the selected dot */
.dot.selected {
  background-image: url('/images/dot-selected.png');
}
